@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

* {
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

.hidden {
  display: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #02003c;
  text-align: center;
  padding-top: 50px;
  font-size: 16px;
  line-height: 1.3;
  background-image: url("../images/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

a {
  color: #3825ff;
  text-decoration: underline;
}

h1 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

button {
  background-color: #3825ff;
  border-radius: 4px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 6px 10px;
}

button:hover {
  cursor: pointer;
}

.container {
  width: 600px;
  max-width: 96%;
  margin: auto;
}

em.election {
  font-style: normal;
  background-image: url(../images/election-underline.png);
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: -10px bottom;
}

#pledge-form {
  background-color: #fff;
  color: #06032e;
  padding: 15px 30px;
  border-radius: 8px;
  margin-top: 25px;
}

#pledge-form p {
  font-size: 19px;
  margin-bottom: 25px;
}

#pledge-form input {
  color: #000;
  font-weight: bold;
  display: block;
  font-size: 17px;
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #3825ff;
  margin-bottom: 5px;
}

#pledge-form input::placeholder {
  color: #3825ff;
  font-weight: normal;
}

#pledge-form button {
  display: block;
  font-size: 26px;
  width: 100%;
  padding: 15px;
}

#pledge-form small {
  color: #6462a3;
  font-size: 11px;
  font-weight: bold;
  display: block;
  width: 300px;
  margin: 10px auto 0;
}

.scoreboard {
  margin-top: 100px;
  animation: fade-in .3s;
}

.scoreboard .container {
  width: 900px;
}

.scoreboard .politician,
.scoreboard .politician img {
  width: 100px;
  height: 122px;
}

.scoreboard .politician {
  display: inline-block;
  margin: 20px;
  position: relative;
}
