@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

* {
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

.hidden {
  display: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #02003c;
  text-align: center;
  padding-top: 50px;
  font-size: 16px;
  line-height: 1.3;
  background-image: url("../images/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

a {
  color: #3825ff;
  text-decoration: underline;
}

h1 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

button {
  background-color: #3825ff;
  border-radius: 4px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 6px 10px;
}

button:hover {
  cursor: pointer;
}

.container {
  width: 600px;
  max-width: 96%;
  margin: auto;
}

em.election {
  font-style: normal;
  background-image: url(../images/election-underline.png);
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: -10px bottom;
}

#pledge-form {
  background-color: #fff;
  color: #06032e;
  padding: 15px 30px;
  border-radius: 8px;
  margin-top: 25px;
}

#pledge-form p {
  font-size: 19px;
  margin-bottom: 25px;
}

#pledge-form input {
  color: #000;
  font-weight: bold;
  display: block;
  font-size: 17px;
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #3825ff;
  margin-bottom: 5px;
}

#pledge-form input::placeholder {
  color: #3825ff;
  font-weight: normal;
}

#pledge-form button {
  display: block;
  font-size: 26px;
  width: 100%;
  padding: 15px;
}

#pledge-form small {
  color: #6462a3;
  font-size: 11px;
  font-weight: bold;
  display: block;
  width: 300px;
  margin: 10px auto 0;
}

.scoreboard {
  margin-top: 100px;
  animation: fade-in .3s;
}

.scoreboard .container {
  width: 900px;
}

.politicians {
  margin-bottom: 100px;
}

.politician img,
.politician .cover {
  width: 100px;
  height: 122px;
  border-radius: 4px;
}

.politician {
  display: inline-block;
  margin: 15px;
  position: relative;
}

.politician .cover {
  position: absolute;
  top: 0;
  left: 0;
}

.politician h5 {
  position: absolute;
  bottom: 6px;
  left: 0px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1.0);
  margin: 0;
  padding: 0;
}

.politician h5 small {
  display: block;
  font-size: 10px;
}

.politician.long-name h5 {
  font-size: 10px;
  bottom: 9px;
}

.politician.vote-yes .cover {
  background-color: rgba(75,205,207,0.5);
}

.politician .btn {
  font-size: 10px;
  padding: 7px 5px;
  margin: 0 0 5px 0;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
  background-color: #f94220;
  color: #fff;
  border-radius: 4px;
}

.politician .btn:hover {
  background-color: #e25237;
}

.politician .btn.tweet {
  background-color: #2ecaf8;
}

.politician .btn.tweet:hover {
  background-color: #0691ba;
}

@media screen and (max-width: 800px) {
  .politician {
    margin: 10px;
  }
}
