<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Vote for Net Neutrality</title>

    <meta name="description" content="If Congress doesn't vote for net neutrality, make them pay at the polls.">
    <meta name="author" content="Fight for the Future">

    <meta itemprop="name" content="Vote for Net Neutrality">
    <meta itemprop="description" content="If Congress doesn't vote for net neutrality, make them pay at the polls.">
    <meta itemprop="image" content="http://votefornetneutrality.com/images/social-with-shortcode.png">

    <!-- Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://votefornetneutrality.com" />
    <meta property="og:image" content="http://votefornetneutrality.com/images/social-with-shortcode.png" />
    <meta property="og:title" content="We can make Congress vote for net neutrality. Here's how." />
    <meta property="og:description" content="1. Take the pledge. 2. Share it with everyone. 3. Get texted a reminder on election day of who voted to save net neutrality. 4. Vote the ones that didn't out of office." />
    <meta property="og:site_name" content="Battle For The Net" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@FightForTheFtr" />
    <meta name="twitter:title" content="Vote for Net Neutrality" />
    <meta name="twitter:description" content="If Congress doesn't vote for net neutrality, we can make them pay at the polls." />
    <meta name="twitter:image" content="http://votefornetneutrality.com/images/social-with-shortcode.png" />
    <meta name="twitter:url" content="https://www.battleforthenet.com/" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700" rel="stylesheet" />
    <link href="css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <script src="js/vue.js"></script>
    <script src="js/vue-resource.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="container">
        <img src="images/logo.png" srcset="images/logo@2x.png 2x" alt="Vote for Net Neutrality" class="logo">
        <h1><strong>If they don't vote for net neutrality, vote them out.</strong></h1>
        <h1>The FCC just ignored the public and killed net neutrality. But soon Congress will have a simple up or down vote on whether to overturn the FCC, or betray 83% of American voters, in a <em>close</em> election year. If they don't vote for net neutrality, we won't vote for them. <strong>They'll listen, or pay.</strong></h1>

<!--        <h1>The FCC just ignored the public and killed net neutrality. But soon Congress will have a simple up or down vote on whether to overturn the FCC, or betray <a href="">83%</a> of American voters, in a <em>close</em> election year. <strong>If they don't vote for net neutrality, we won't vote for them.</strong> That's how we win.</h1> -->

        <form id="pledge-form" @submit.prevent="submitForm()">
          <p class="pledge">&ldquo;Dear Congress: I just gave my number to Fight for the Future, who will text me your voting record on the eve of your next election. <strong>Unless you vote for a CRA to overturn the FCC net neutrality vote, I will not vote for you.</strong>&rdquo;</p>
          <p v-if="formMessage" v-cloak><b>{{ formMessage }}</b></p>
          <input type="tel" placeholder="Enter your phone number" autofocus required v-model="phone">
          <button disabled v-if="isSubmitting">Submitting...</button>
          <button v-else>Sign the Pledge</button>
          <small>OUR BOT WILL TEXT YOU TO IDENTIFY YOUR REPRESENTATIVES, SUBMIT A MESSAGE &amp; SEND <a href="#screenshot">ELECTION REMINDERS</a>. MESSAGE &amp; DATA RATES APPLY.</small>
        </form>

        <p class="or-text">
          OR TEXT <b>"VOTE"</b> TO <b>384-387</b>.
          <small><a href="https://www.battleforthenet.com/privacy/">PRIVACY POLICY</a></small>
        </p>
      </div>

<section class="container">
  <h2>How the Congressional Review Act Works</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/VABCjxFtRnI?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</section>

<section class="container">
  <h2>Why it's a powerful way to save net neutrality:</h2>
    <ul>
      <li>The <a href="https://en.wikipedia.org/wiki/Congressional_Review_Act">Congressional Review Act</a> (CRA) allows our elected officials in Congress to overrule decisions made by unelected Federal agencies like the FCC.</li>
      <li>Unlike a normal bill, a "Resolution of Disapproval" under the CRA only requires a simple majority in the Senate and House. No filibuster.</li>
      <li>More importantly, House and Senate leaders cannot block a CRA with majority support from coming to the floor.</li>
      <li>Net neutrality is <a href="http://thehill.com/policy/technology/364528-poll-83-percent-of-voters-support-keeping-fccs-net-neutrality-rules">not a partisan issue</a>, but many Republicans in Congress have been on the wrong side of it recently. <a href="https://www.theverge.com/2017/12/13/16772792/coffman-ajit-pai-net-neutrality-letter">That's changing.</a></li>
      <li>In the Senate, we may only need <em>one</em> more Republican to vote for the CRA to get it passed, given that Susan Collins (R-ME) <a href="https://bangordailynews.com/2017/11/24/politics/collins-pingree-king-rip-plan-to-end-net-neutrality/">opposed the FCC plan</a> and <a href="https://twitter.com/jimmphillipsdc/status/944000024274505728">signalled openness</a> to a CRA.</li>
      <li>In the House, we'll need about 20 Republicans to listen to their constituents and vote for the CRA. That's harder, but several Republican representatives have <a href="https://arstechnica.com/tech-policy/2017/12/even-some-republican-congresspeople-oppose-full-net-neutrality-repeal/">already criticized</a> the FCC's vote, and given that more than <a href="http://thehill.com/policy/technology/364528-poll-83-percent-of-voters-support-keeping-fccs-net-neutrality-rules">75% of Republican voters</a> support net neutrality, it's doable.</li>
    </ul>
</section>

<section id="screenshot">
    <h2>This is what millions of voters can see on election day.</h2>
    <p>(An approximate dramatization.)</p>
    <img src="images/iphone-screenshot.png">
</section>

      <div id="political-scoreboard" v-cloak>
        <div class="scoreboard" v-show="isLoaded">
          <div class="container">
            <div id="senate" class="politicians">
              <h2>{{ senateCRACount }} Senators now. 51 to win. {{ 51 - senateCRACount }} to go.</h2>
              <p>(The green ones are already voting for a CRA, so you should vote for them.)</p>
              <politician-card v-for="politician in senators" :politician="politician"></politician-card>
            </div>

            <div id="house" class="politicians">
              <h2>House of Representatives: Coming Soon...</h2>
              <p>(The fight starts in the Senate, but we'll launch a full list of House members once they start coming out for the CRA.)</p>
<!--              <politician-card v-for="politician in representatives" :politician="politician"></politician-card> -->
            </div>

<!--             <div id="in-state" class="politicians">
              <h2>Your representatives:</h2>
              <div class="state-selector">
                <p>These are your members of Congress. Start here.</p>
                <p>
                  <select v-model="selectedState">
                    <option value="">Select state</option>
                    <option v-for="state in states">{{ state }}</option>
                  </select>
                </p>
              </div>
              <div class="psb-unknown">
                <politician-card v-for="politician in congressInState" :politician="politician"></politician-card>
              </div>
            </div> -->

<!--             <div id="team-internet" class="politicians">
              <h2>Team Internet</h2>
              <p>These are the other members of Congress who've come out against
              the FCC plan. Thank them, and ask them to vote for the CRA</p>
              <politician-card v-for="politician in teamInternet" :politician="politician"></politician-card>
            </div>

            <div id="team-unknown" class="politicians">
              <h2>Unknown</h2>
              <p>These are all the members of Congress whose stance we don't know
              yet. Ask them to vote for the CRA!</p>
              <politician-card v-for="politician in undecided" :politician="politician"></politician-card>
            </div>

            <div id="team-cable" class="politicians">
              <h2>Team Cable</h2>
              <p>These are the members of Congress who supported the FCC plan. We
              still might be able to move them</p>
              <politician-card v-for="politician in teamCable" :politician="politician"></politician-card>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="unit">
        <div class="logos">
          <p>Made with love by...</p>
          <a class="fftf" href="https://www.fightforthefuture.org/">
            <img src="images/footer-fftf-logo.png" srcset="images/footer-fftf-logo-x2.png 2x" />
          </a>
        </div>
        <div class="spacer"><!--RISE UP--></div>
        <div>
          <div class="press-inquiries">
            <p>For Press inquiries, please contact us at:</p>
            <p>
              <a href="tel://1-978-852-6457">978-852-6457</a> or <a href="mailto:press@fightforthefuture.org">press@fightforthefuture.org</a><br />
            </p>

            <p>All other inquiries, contact: <a href="mailto:team@fightforthefuture.org">team@fightforthefuture.org</a></p>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/x-template" id="politician-card-template">
      <div :class="{ 'politician': true, 'vote-yes': politician.yesOnCRA, 'long-name': isLong(politician.name) }">
        <img :src="imageURL(politician)" :srcset="imageURL(politician, '_x2') + ' 2x'">
        <div class="cover">
          <h5>
            {{ politician.name }}
            <small>
<!--              {{ politician.org }} -->
              (<b v-if="politician.partyCode">{{ politician.partyCode.toUpperCase() }} - </b>{{ politician.stateCode }})
            </small>
          </h5>
        </div>
        <div class="actions">
          <a v-if="politician.twitter" class="btn tweet" :href="politician.tweetLink" target="_blank">Tweet</a>
<!--          <a class="btn call" href="https://www.battleforthenet.com/call">Call</a> -->
        </div>
      </div>
    </script>

    <!-- Senty Error Reporting -->
<!--     <script src="https://cdn.ravenjs.com/3.16.0/raven.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      if (typeof Raven !== 'undefined') Raven.config('https://1a4b59d92e894725acb1d5f4ac65df91@sentry.io/165029').install();
    </script> -->

    <!-- <script src="//c.shpg.org/103/sp.js"></script> -->

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-26576645-44"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'UA-26576645-20');
    </script>

    <!-- Facebook Pixel -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');

      fbq('init', '1762844240629117'); 
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" src="https://www.facebook.com/tr?id=1762844240629117&ev=PageView&noscript=1"/>
    </noscript>
  </body>
</html>
